body {
  max-width: 1200px;
  margin: 0 auto !important;
}

html, body {
  box-sizing: border-box;
  font-size: 1.0em;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 2px;
  font-family: 'Open Sans', sans-serif;
  background-color: #1f2125;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
}

header img {
  margin-right: 200px;
  margin-top: 20px;
  width: 50px;
  height: 50px;
}

.title, h3 {
  color: #F28482;
  padding-left: 15px;
  text-decoration: none;
}

h2 {
  padding-left: 10px;
}

section {
  padding: 5px;
  border: 2px solid #272727;
  background-color: #FFF8F0;
  margin-bottom: 25px;
  margin: 15px;
}

section p {
  padding: 15px;
}

section img {
  padding-left: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.25em;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

button {
  padding: 15px;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #F28482;
}

.close-buttons {
  padding: 10px;
  margin: 5px;
}

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 0.85em;
}

footer img {
  height: 10px;
  width: 10px;
  padding: 5px;
  margin: 5px;
  background-color: #FFF8F0;
}

#rules-pop-up, #end-game {
  display: none;
  background-color: #38AECC;
  width: 500px;
  height: 400px;
  padding: 40px;
  border: solid 1px black;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-box-shadow: 3px 3px 5px 6px #1f2125;
  -webkit-box-shadow: 3px 3px 5px 6px #1f2125;
  box-shadow: 3px 3px 5px 6px #1f2125;
}

#rules-pop-up p {
  padding: 5px;
  padding-left: 12px;
  margin-top: 30px;
}

#btn-close, #btn-close-end-game {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

@media screen and (max-width: 960px) and (min-width: 500px) {
  header img {
    display: none;
  }
  .btn-container {
    position: absolute;
    top: 5px;
    right: 5px;
    margin-top: 15px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 500px) {
  .grid_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.25em;
  }
  h1 {
    font-size: 20px;
  }
  #rules-pop-up {
    width: 200px;
    height: 600px;
  }
  #end-game {
    width: 200px;
    height: 400px;
  }
  .btn-container {
    position: absolute;
    top: 5px;
    right: 5px;
    margin-top: 10px;
    margin-right: 15px;
  }
  button {
    padding: 10px;
    margin: 5px;
  }
  header img {
    display: none;
  }
}
